<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title><%- site.title %></title>
<%- include('partials/head-favicon') %>
<%- include('partials/head-fonts') %>
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<style amp-custom="">
<%- site.style %>
</style>
<link rel="stylesheet" type="text/css" href="/milligram.min.css">
</head>
<body>
<%- include('partials/headbar') %>
<%- body %>
</body>
</html>
